/* === Styling and fixings === */
/* Hide Scroll bar */
::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* === BOOTSTRAP Customization === */
.bi {
    font-size: 20px; /*Change font size for icons*/
}
.btn {
    border:none;
}
/* BS Form Controls */
.form-control:focus {
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    box-shadow: none;
}
.accordion-button::after, .accordion-collapse {
    transition: all 0.1s;
}
.accordion-button:not(.collapsed) {
    color: var(--bs-body-color);
    background-color: transparent;
}
.accordion-button:focus {
    box-shadow: none;
}
.alert {
    border-radius: 0;
    z-index: 10000;
}
.input-file {
    display:none;
}
/* Image Preview for Post */
#postImagePreview {
    padding:0;
}
#postImagePreview img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

/* === Customizing post card === */
.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--bs-body-bg);
    padding: 3px 10px;
    border: 1px solid var(--bs-border-color-translucent);
    border-radius: 10px;
    width: calc(100% - 20px);
    margin:auto;
    position: relative;
    margin-top: -25px;
}
.post-img {
    width:100%; 
    height: 200px; 
    object-fit:cover;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background-color: var(--bs-body-tertiary);
}
.post-author-img {
    width:34px; 
    height: 34px;
    object-fit:cover;
    border-radius: 50%;
}
.post-author-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--bs-body-color);
}

/* --- HEADER --- */
header {
    padding: 0.5px 0;
    border-bottom: 1px solid var(--bs-border-color-translucent);
    z-index: 999;
}

/* === MAIN === */
.main {
    border-top: 1px solid var(--bs-border-color-translucent);
    border-bottom: 1px solid var(--bs-border-color-translucent);
    position: fixed;
    top: 49px;
    bottom: 65px;
    left: 0;
    right: 0;
    overflow-y: auto;
}
.middle-content {
    width: 100%;
    max-width: 768px;
}
.middle-content-small {
    width:100%;
    max-width: 576px;
    margin:auto;
}

/* --- OFFCONAVS START: LEFT MENU --- */
.offcanvas-start {
    transition: all 0.3s;
}
.offcanvas-div {
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.div-item {
    display: flex;
    text-align: left;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.div-item:hover, .div-item:active {
    background-color: var(--bs-tertiary-bg);
}
#collapseAccordion {
    transition: all 0.2s;
}
#keyArrDown {
    transition: all 0.3s;
}
.rotate-180 {
    transform: rotate(180deg);
}

/* OFFCONVAS Right sidenav Account menu */
.offcanvas-end {
    transition: all 0.3s;
}
.sidenav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--bs-body-color);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 2px;
    background-color: var(--bs-body-bg);
}
.sidenav-link:hover, .sidenav-link:active {
    background-color: var(--bs-tertiary-bg);
}
.sidenav-link-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 1.5px solid #fff;
    border-radius: 50%;
}
.sidenav-link i {
    color: var(--bs-primary);
    background-image: linear-gradient(to bottom right, var(--bs-primary), var(--bs-purple));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 170%;
}
.sidenav-link span {
    font-size: 100%;
}

/* === BOTTOM NAV === */
.sidenav-md-left {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-top: 1px solid var(--bs-border-color-translucent);
}
.bottom-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.bottom-nav .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottom-nav .active {
    color: var(--bs-primary);
}
.bottom-nav .btn img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border: 1.5px solid #fff;
    border-radius: 50%;
}
.bottom-nav .btn span {
    font-size: 70%;
}

/* Create New Post Offconvas */
.offcanvas-bottom {
    transition: all 0.3s;
}
#newPostCard {
    width: 100%;
    max-width: 576px;
    height: 100%;
    overflow-y: auto;
}

/* === Profile Page === */
.fake-cover-img {
    height: 125px;
    width: 100%;
    background-color: var(--bs-secondary-bg);
}
.cover-img {
    height: 125px;
    width: 100%;
    object-fit: cover;
}
.avatar-img {
    width: 110px;
    height: 110px;
    border: 6px solid var(--bs-body-bg);
    border-radius: 50%;
    object-fit:cover;
    margin-top: -50px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bs-body-bg);
}

.profile-btn-top, .profile-btn-top:hover {
    width: 45%;
    max-width: 300px;
    border:2px solid var(--bs-primary);
}
.profile-about-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    word-wrap: break-word; 
    word-break: break-all; 
    white-space: normal;
    overflow: hidden;
    padding:2px 0;
}

/* === Extra small devices === */
@media screen and (max-width:575px) {
    /* Search Container full page */
    #searchContainer {
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index: 1000;
        background-color: var(--bs-tertiary-bg);
    }
    #searchForm {
        border-bottom: 1px solid var(--bs-border-color-translucent);
        padding: 4px 0;
    }
}

/* === Small device: sm === */
@media screen and (min-width:576px) {
    .main {
        top: 54px;
    }
    /* Adding shadow to search Container */
    #searchContainer {
        background-color: var(--bs-body-bg);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
    }
    #searchForm {
        padding: 0;
        border: 1px solid var(--bs-border-color-translucent);
        border-radius: 5px;
    }
    #searchInput {
        border:none;
    }
    /* Profile Page */
    .fake-cover-img, .cover-img {
        height: 145px;
    }
}

/* === Medium devies: md === */
@media screen and (min-width:768px) {
    /* Main */
    .main {
        top: 56px;
        bottom:1px;
        left: calc(25% + 1px);
        border-left: 1px solid var(--bs-border-color-translucent);
        border-bottom: 0;
    }
   /* Bottom Nav Becomes Sidenav */
   .sidenav-md-left {
        top: 56px;
        width: 25%;
        padding: 10px;
        border-right: 1px solid var(--bs-border-color-translucent);
    }
    .bottom-nav {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .bottom-nav .btn {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        margin-bottom: 1px;
    }
    .bottom-nav .btn span {
        font-size: 100%;
    }
    .bottom-nav .active, .bottom-nav .btn:hover {
        background-color: var(--bs-tertiary-bg);
    }
    .fake-cover-img, .cover-img {
        height: 155px;
    }
}