/* === Styling and fixings === */
::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.btn {
    border:none;
}
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.accordion-button::after, .accordion-collapse {
    transition: all 0.1s;
}
.accordion-button:not(.collapsed) {
    color: var(--bs-body-color);
    background-color: transparent;
}
.accordion-button:focus {
    box-shadow: none;
}
/* BS Form Controls */
.form-control:focus {
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    box-shadow: none;
}

/* --- HEADER --- */
header {
    padding: 5px 0;
    border-bottom: 1px solid var(--bs-border-color-translucent);
    z-index: 999;
}

/* --- OFFCONAVS START: LEFT MENU --- */
.offcanvas-start {
    transition: all 0.3s;
}
.offcanvas-div {
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.div-item {
    display: flex;
    text-align: left;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.div-item:hover, .div-item:active {
    background-color: var(--bs-tertiary-bg);
}
#collapseAccordion {
    transition: all 0.2s;
}
#keyArrDown {
    transition: all 0.3s;
}
.rotate-180 {
    transform: rotate(180deg);
}

/* === Extra small devices === */
@media screen and (max-width:575px) {
    /* Search Container full page */
    #searchContainer {
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index: 1000;
        background-color: var(--bs-tertiary-bg);
    }
    #searchForm {
        border-bottom: 1px solid var(--bs-border-color-translucent);
        padding: 4px 0;
    }
}

/* === Small device: sm === */
@media screen and (min-width:576px) {
    /* Adding shadow to search Container */
    #searchContainer {
        background-color: var(--bs-body-bg);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
    }
    #searchForm {
        padding: 0;
        border: 1px solid var(--bs-border-color-translucent);
        border-radius: 5px;
    }
    #searchInput {
        border:none;
    }
}

/* === Medium devies: md === */
@media screen and (min-width:768px) {
   
}