{% extends 'base.html' %}

{% block head %}
    <script src="/static/js/load_content.js"></script>
    {% if user %}
        <script src="/static/js/create_post.js"></script>
    {% endif %}
    <!--Page specificc script-->
    {% block script %}{% endblock %}
    <!--Title-->
    <title>
        {% block title %}Wordglimpse{% endblock %}
    </title>
{% endblock %}

{% block body %}
    <!-- ==== HEADER ==== -->
    <header class="fixed-top bg-body d-flex flex-row justify-content-between align-items-center">
        <!--Left Menu Btn-->
        <button type="button" class="btn" title="Menu" data-bs-toggle="offcanvas" data-bs-target="#leftMenu" aria-controls="leftMenu">
            <i class="bi bi-list" style="font-size:25px;"></i>
        </button>
        <!--Logo-->
        <a href="/" title="Wordglimpse" class="navbar-brand">WORDGLIMPSE</a>
        <!--Search Container-->
        <div class="d-none d-sm-inline-block" id="searchContainer">
            <form action="/search" method="get" class="bg-body d-flex flex-row align-items-center" id="searchForm">
                <button type="button" class="btn d-sm-none" onclick="closeSearch()">
                    <i class="bi bi-chevron-left"></i>
                </button>
                <input class="form-control" type="search" name="q" id="searchInput" placeholder="Search.." autocomplete="off" autofocus>
                <button type="submit" class="btn" title="Search">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
        <!--Search btn for extra small devices-->
        <button type="button" class="btn d-sm-none" title="Search" onclick="openSearch()">
            <i class="bi bi-search"></i>
        </button>
    </header>

    <!-- ==== Left Menu ==== -->
    <section class="offcanvas offcanvas-start bg-body-tertiary" tabindex="-1" id="leftMenu" aria-labelledby="leftMenu">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!--First div-->
            <div class="offcanvas-div card bg-body">
                <a href="/popular" class="btn div-item" title="Popular">
                    <i class="bi bi-star"></i>
                    <span>Popular</span>
                </a>
                <a href="/recent" class="btn div-item" title="Recent">
                    <i class="bi bi-clock"></i>
                    <span>Recent</span>
                </a>
                <a href="/author" class="btn div-item" title="Author">
                    <i class="bi bi-person-fill-check"></i>
                    <span>Author</span>
                </a>
            </div>
            <!--Categories div-->
            <div class="offcanvas-div card bg-body">
                <button class="btn d-flex flex-row justify-content-between align-items-center w-100" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseAccordion" aria-expanded="true"
                    aria-controls="collapseAccordion" onclick="toggleArrow()">
                    <span>Categories</span>
                    <i class="bi bi-chevron-down" id="keyArrDown"></i>
                </button>
                <div id="collapseAccordion" class="collapse" data-bs-parent="#categoryAccordion">
                    <ul class="list-unstyled">
                        {% for category in categories %}
                        <li>
                            <a href="/search?category={{ category }}" class="btn text-primary div-item" title="{{ category }}">{{category|title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!--Setting div-->
            <div class="offcanvas-div card bg-body p-3">
                <div class="d-flex flex-row align-items-center mb-3" style="gap: 10px;">
                    <i class="icon-container">
                        <i class="bi bi-gear"></i>
                    </i>
                    <span>Settings</span>
                </div>
                <div id="settings">
                    <!--Theme Toggler-->
                    <div class="d-flex flex-row justify-content-between align-items-center p-2">
                        <div><label for="themeToggler">Dark Mode</span></div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="themeToggler">
                        </div>
                    </div>
                    <!--Adjust Text Size-->
                    <div class="d-flex flex-row justify-content-between align-items-center p-2">
                        <label for="textSizeSelector" style="flex:2;">Text size</label>
                        <select class="form-select" id="textSizeSelector" style="flex:1;">
                            <option value="smaller">Smaller</option>
                            <option value="medium" selected>Medium</option>
                            <option value="larger">Larger</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-3">
            <small><a href="/about" title="About" class="text-body-secondary d-inline-block p-1">About</a></small>
            <small><a href="/feedback" title="Feedback" class="text-body-secondary d-inline-block p-1">Feedback</a></small>
        </div>
    </section>

    <!-- ==== MAIN SECTION ==== -->
    <main class="tab-content main bg-body" id="mainTabContent">
        <!-- CONTENT TAB for other pages like search result, profile etc -->
        <div class="tab-pane fade" id="content-tab-pane" role="tabpanel" aria-labelledby="content-tab" tabindex="0">
            {% block content %}
                <div class="text-center mt-5">
                    <h5>Sorry! we could not find, what you are looking for.</h5>
                </div>
            {% endblock %}
        </div>
        <!--HOME TAB-->
        <div class="tab-pane fade" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            Home content goes here...
        </div>
        {% if user %}
        <!--FOLLOWING TAB-->
        <div class="tab-pane fade" id="following-tab-pane" role="tabpanel" aria-labelledby="following-tab" tabindex="0">
            Following content goes here...
        </div>
        <!--SAVED TAB-->
        <div class="tab-pane fade" id="saved-tab-pane" role="tabpanel" aria-labelledby="saved-tab" tabindex="0">
            Saved content goes here...
        </div>
        {% endif %}
    </main>

    <!-- ==== BOTTOM NAV ==== -->
    <nav class="sidenav-md-left d-block d-md-flex flex-column justify-content-between bg-body">
        <div class="bottom-nav bg-body" role="tablist">
            <button class="btn active" type="button" title="Home" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" role="tab" aria-controls="home-tab-pane" aria-selected="false" onclick="load_content('/')">
                <i class="bi bi-house"></i>
                <span>Home</span>
            </button>
            <button class="btn" type="button" title="Following" {% if user %} id="following-tab" data-bs-toggle="tab" data-bs-target="#following-tab-pane" role="tab" aria-controls="following-tab-pane" aria-selected="true" onclick="load_content('/following')" {% else %} data-bs-toggle="modal" data-bs-target="#loginRequiredModal" {%endif %}>
                <i class="bi bi-collection"></i>
                <span>Following</span>
            </button>
            <button class="btn d-md-none" type="button" title="Create New" {% if user %}
                data-bs-toggle="offcanvas" data-bs-target="#newPostCard" aria-controls="newPostCard" {% else %}
                data-bs-toggle="modal" data-bs-target="#loginRequiredModal" {% endif %}>
                <i class="bi bi-plus bg-primary text-white rounded-circle px-2" style="font-size:35px;"></i>
            </button>
            <button class="btn" type="button" title="Saved" {% if user %} id="saved-tab" data-bs-toggle="tab"
                data-bs-target="#saved-tab-pane" role="tab" aria-controls="saved-tab-pane" aria-selected="true"
                onclick="load_content('/saved')" {% else %} data-bs-toggle="modal" data-bs-target="#loginRequiredModal" {%
                endif %}>
                <i class="bi bi-bookmark"></i>
                <span>Saved</span>
            </button>
            <button class="btn" type="button" title="Account" {% if user %} data-bs-toggle="offcanvas"
                data-bs-target="#sideNav" aria-controls="sideNav" {% else %} data-bs-toggle="modal"
                data-bs-target="#loginRequiredModal" {% endif %}>
                {% if user %}
                    <img src="{% if user.avatar %}{{ user.avatar }}{% else %}/static/image/user.png{% endif %}" title="Account">
                {% else %}
                    <i class="bi bi-person-circle"></i>
                {% endif %}
                <span>Account</span>
            </button>
        </div>
        <!-- Post Button for medium devices -->
        <div class="d-none d-md-flex justify-content-center align-items-center">
            <button class="btn btn-sm p-0 btn-primary d-flex justify-content-center align-items-center" type="button"
                title="Create New" style="width:100%;max-width: 300px;" {% if user %} data-bs-toggle="offcanvas"
                data-bs-target="#newPostCard" aria-controls="newPostCard" {% else %} data-bs-toggle="modal"
                data-bs-target="#loginRequiredModal" {% endif %}>
                <i class="bi bi-plus" style="font-size:35px;"></i>
                <span>Create New</span>
            </button>
        </div>
    </nav>
    
    <!-- Modals if user is logged in and if not logged in trigger login required modal -->
    {% if user %}
        <!-- ==== SIDENAV account menu -->
        <section class="offcanvas offcanvas-end bg-body-tertiary" tabindex="-1" id="sideNav" aria-labelledby="sidenNavLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="mb-3">
                    <a href="/profile" title="Visit your profile" class="sidenav-link card">
                        <img src="{% if user['avatar'] %}{{ user['avatar'] }}{% else %}/static/image/user.png{% endif %}" class="sidenav-link-img" alt="User">
                        <span>Your Profile</span>
                    </a>
                </div>
                <div class="mb-3">
                    <a href="/profile/edit" title="Edit Profile" class="sidenav-link card">
                        <i class="bi bi-person-circle"></i>
                        <span>Edit Profile</span>
                    </a>
                    <a href="/posts/manage" title="Manage Posts" class="sidenav-link card">
                        <i class="bi bi-file-earmark-arrow-up-fill"></i>
                        <span>Your Posts</span>
                    </a>
                    <a href="/followings" title="Followers & Followings" class="sidenav-link card">
                        <i class="bi bi-people-fill"></i>
                        <span>Followers & Followings</span>
                    </a>
                </div>
                <div class="mb-3">
                    <a href="/inbox" title="Your Inbox" class="sidenav-link card">
                        <i class="bi bi-envelope-fill"></i>
                        <span>Inbox</span>
                    </a>
                    <a href="/notifications" title="Notifications" class="sidenav-link card">
                        <i class="bi bi-bell-fill"></i>
                        <span>Notifications</span>
                    </a>
                </div>
                <div class="mb-3">
                    <a href="/account" title="Account settings" class="sidenav-link card">
                        <i class="bi bi-gear-fill"></i>
                        <span>Account</span>
                    </a>
                    <a href="/privacy" title="Privacy Settings" class="sidenav-link card">
                        <i class="bi bi-shield-fill"></i>
                        <span>Privacy</span>
                    </a>
                    <a href="/help" title="Help" class="sidenav-link card">
                        <i class="bi bi-question-circle-fill"></i>
                        <span>Help</span>
                    </a>
                    <a href="/about" title="About" class="sidenav-link card">
                        <i class="bi bi-info-circle-fill"></i>
                        <span>About</span>
                    </a>
                </div>
                <div class="mb-3">
                    <a href="/logout" title="Logout" class="sidenav-link card">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Log Out</span>
                    </a>
                </div>
            </div>
        </section>
        <!-- CREATE POST OFFCONVAS -->
        <section class="offcanvas offcanvas-bottom" tabindex="-1" id="newPostCard" aria-labelledby="offcanvasBottomLabel">
            <div class="offcanvas-header d-flex flex-row justify-content-between">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel">New Post</h5>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Close</button>
                    <button type="submit" form="postForm" class="btn btn-primary" title="Post" id="postFormSubmit">Post</button>
                </div>
            </div>
            <div class="offcanvas-body small">
                <form action="/create_post" method="post" id="postForm" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="hidden" name="post-id" id="postId">
                        <!-- Onselect the image will be displayed -->
                        <label for="postImage" class="form-control" id="postImagePreview">
                            <span class="d-inline-block" style="padding:7px 14px;">Select Image</span>
                        </label>
                        <input name="image" class="input-file" type="file" id="postImage" accept="image/*">
                        <small class="text-danger d-none" id="imageError"></small>
                    </div>
                    <div class="mb-3">
                        <label for="postTitle" class="form-label">Title</label>
                        <input name="post-title" id="postTitle" class="form-control" type="text" placeholder="Write a descriptive title" maxlength="100" autocomplete="off">
                        <small class="text-danger d-none" id="titleError"></small>
                    </div>
                    <div class="mb-3">
                        <label for="postCategory" class="form-label">Category</label>
                        <select name="post-category" id="postCategory" class="form-select" aria-label="categorySelect">
                            <option selected disabled>Select a category</option>
                            {% for category in categories %}
                                <option value="{{ category }}">{{ category|title }}</option>
                            {% endfor %}
                        </select>
                        <small class="text-danger d-none" id="categoryError"></small>
                    </div>
                    <div class="mb-3">
                        <label for="postContent" class="form-label">Post Content</label>
                        <textarea class="form-control" name="post-content" rows="4" placeholder="Start writing.." maxlength="1000"
                            id="postContent" oninput="countLetter('postContent', 'postContentCount')"></textarea>
                        <p class="d-flex flex-row justify-content-between p-2">
                            <span><small class="text-danger d-none" id="contentError"></small></span>
                            <span><span id="postContentCount">0 </span><span> / 1000</span></span>
                        </p>
                    </div>
                </form>
            </div>
        </section>
        <!-- COMMENT Modal -->
        <div class="modal" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="commentModalLabel">Comments</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="commentBody">
                        
                    </div>
                    <div class="border-top p-2 d-flex flex-row gap-2" id="commentFooter">
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete Account Modal -->
        <div class="modal" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <small>
                                <strong class="text-info">Important!</strong><br><br> 
                                Deleting account is permanent and can
                                not be undone. All of your posts and related data will be deleted immedietly!
                            </small>
                        </p>
                        <form action="delete_account" method="post">
                            <div class="mb-2">
                                <input type="password" name="password" placeholder="Enter your password" class="form-control">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-danger">Delete account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <!-- LOGIN Required Modal -->
        <div class="modal" id="loginRequiredModal" tabindex="-1" aria-labelledby="loginRequiredModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="d-flex flex-row justify-content-between align-items-center"><span>Login to continue</span>
                        <a href="/login" class="btn btn-primary" title="login">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
     
{% endblock %}