{% extends "layout.html" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <section class="middle-content p-2">
        <div class="middle-content-small">

            <!--Display the post-->
            <div class="card mb-5">
                <img src="{{ post.image }}" class="post-img" alt="Post">
                <div class="card-header">
                    <a href="/profile/{{ author.id }}" class="post-author-link">
                        <img src="{% if author.avatar %}{{ author.avatar }}{% else %}/static/image/user.png{% endif %}" alt="Profile Photo" class="post-author-img">
                        <div class="d-flex flex-column">
                            <span>{{ author.fname }}</span>
                            <small class="text-body-secondary">{{ post.created_at|format_date }}</small>
                        </div>
                    </a>
                    {% if user %}
                        <!-- Check if user is looged in and saved the post -->
                        <button type="button" class="btn" onclick="save_post(this, '{{ post.id }}')">
                            <i class="bi bi-bookmark{% if saved %}-fill text-primary{% endif %}"></i>
                        </button>
                    {% else %}
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#loginRequiredModal">
                            <i class="bi bi-bookmark"></i>
                        </button>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p><small class="text-body-secondary">{{ post.category|title }}</small></p>
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                </div>
                <div class="card-footer bg-body">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        {% if user %}
                            <!--Voting buttons-->
                            <div class="btn-group btn-group-sm border rounded-pill">
                                <!--Upvote button-->
                                <button type="button" class="btn" id="upvote_btn_{{ post.id }}" onclick="vote_post('{{ post.id }}', 1)">
                                    <i class="bi bi-caret-up{% if voted == 1 %}-fill text-primary{% endif %}"></i>
                                </button>
                                <div class="px-3 border-start border-end d-flex flex-column align-items-center justify-content-center">
                                    <span id="upvote_count_{{ post.id }}" data-upvotes="{{ upvotes }}">{{ upvotes|short_number }}</span>
                                </div>
                                <button type="button" class="btn" id="downvote_btn_{{ post.id }}" onclick="vote_post('{{ post.id }}', -1)">
                                    <i class="bi bi-caret-down{% if voted and voted == -1 %} text-danger{% endif %}"></i>
                                </button>           
                            </div>
                            <!--Comment button-->
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#commentModal" onclick="openComments('{{ post.id }}', '{{ user.id }}')">
                                <i class="bi bi-chat-left-text"></i>
                            </button>

                            <!-- More options -->
                            <div class="dropup-left dropup">
                                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Action two</a></li>
                                <li><a class="dropdown-item" href="#">Action three</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <!--Voting buttons-->
                            <div class="btn-group btn-group-sm border rounded-pill">
                                <!--Upvote button-->
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#loginRequiredModal">
                                    <i class="bi bi-caret-up"></i>
                                </button>
                                <div class="px-3 border-start border-end d-flex flex-column align-items-center justify-content-center">
                                    <span>{{ upvotes|short_number }}</span>
                                </div>
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#loginRequiredModal">
                                    <i class="bi bi-caret-down"></i>
                                </button>           
                            </div>
                            <!--Comment button-->
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#loginRequiredModal">
                                <i class="bi bi-chat-left-text"></i>
                            </button>
                            <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#loginRequiredModal">
                                <i class="bi bi-three-dots"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
